.contact_container{
    background-image: url(https://www.ielts.org/-/media/images/news/cristina-peralejo/ieltsorg-ipc-banner.ashx?la=en&hash=494FAF8E07EF62A09A97855C5F610191EE87189D);
    background-position: center;
    background-size: cover;
    padding: 145px 0;
}